.bg-color {
    background-color: #2A2560;
}
.full-screen {
    width: 100vw;
    height: 100vh;
  }
  .bg-button-color{
    background-color: #4743E0;
  }
  .bg-color2 {
    background-color: #99ADF2;
  }
  .bg-color3{
    background-color: #4555EA;
  }
 